aiofiles
aiogram
aiohttp
aiosignal
aiosqlite
annotated-types
anyio
attrs
certifi
charset-normalizer
frozenlist
h11
httpcore
httpx
idna
magic-filter
multidict
pip
propcache
pydantic
pydantic-core
pytelegrambotapi
python-dateutil
python-telegram-bot
requests
six
sniffio
typing-extensions
typing-inspection
urllib3
yarl